<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project.xirpl604132231.project1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopularActivity"
            android:label="@string/title_activity_popular"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListActivity" />
        <activity
            android:name=".FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailpopularActivity"
            android:label="@string/title_activity_detailpopular"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Describ_list"
            android:label="@string/title_activity_describ_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DetailTfActivity"></activity>
    </application>

</manifest>